.site-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(240, 240, 233);
    padding: 60px;
}
.site-container-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(240, 240, 233);
    padding: 60px;
}
.help-section h2{
    font-size: 40px;
    color: rgb(112, 111, 111);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.help-section p{
    font-size: 30px;
    color: rgb(79, 78, 78);
}

.site-container-number-chat-email{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.number img{
    width: 70%;
}

.number h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 10px;
    color: rgb(91, 89, 89);
    margin-top: 0;
}

.number p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-left: 10px;
    color: rgb(91, 89, 89);
    border-bottom: 1px solid rgb(148, 147, 147);
}

.email img{
 width: 40%;
 margin-top: 10px;
}

.email h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 10px;
    color: rgb(91, 89, 89);
    margin-top: 0;
}

.email p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(91, 89, 89);
    border-bottom: 1px solid rgb(148, 147, 147);
}

.contactUs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 70px;
   
}

.contactUs h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 40px;
}


.contactUs p{
    width: 30%;
    font-size: 25px;
    padding-left: 20px;
}

.store-location{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 90px 0;
    background-color: rgb(240, 240, 233);
}

.store-location h2{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 120px;
    color: rgb(77, 76, 76);
}

.store-location p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(82, 82, 82);
   
}

.store-location img{
    width: 40%;
    padding-left: 50px;
}

.fundi{
    border-top: 1px solid grey;
    padding-bottom: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fundi p{
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
    min-height: 50%;
    z-index: 0;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    background-color: rgb(225, 227, 235);
    align-items: center;
    font-size: 30px;
}
.container{
    max-width: 800%;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #69275c;
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.content{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 5px 9px 49px 5px rgba(152, 65, 146, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;

}
.form-img img{
    max-width: 100%;
    width: 100%!important;
    height: 100%!important;
}
.btn,
button,
input{
    border-radius: 35px;
  
}
.btn:hover,
button:hover{
    color: #97359c;
    transition: 0.5s ease;
}
.contact-form form{
    margin: 30px 0;
    font-size: 40px;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #69275c;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #69275c;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #69275c;
}
@media only screen and (max-width: 600px) {
   
    .site-container-number-chat-email{
        flex-direction: column;
    }

    .contactUs{
        flex-direction: column;
        margin: 0;
        text-align: center;
        padding: 30px 0;
    }

    .contactUs p{
        width: 100%;
        padding: 0;
    }

    .store-location{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .tekstiMrena{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .store-location h2{
        margin: 60px 0;
    }

    .store-location img{
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }

    .contact-form{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .main {
        flex-direction: column;
        padding: 15px 0;
        margin: 0;
    }

    .content{
        padding: 17px;
        margin-bottom: 30px;

    }
    .container{
        margin: 0;
    }
}

