
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
  
}
header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
header ul li{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 23, 23);
    text-decoration: none;
    font-size: 20px;
}
.main-fillimi{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 230);
    align-items:center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
body{
    margin: 20px;
}
button{
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: lightpink;
    border: none;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    position: relative;
}
button:before{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transition: 0.8s;
}
button:after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
    border-bottom-color: black;
    border-right-color: black;
    transition:width 0.8s ease, height 0.8s ease;

}
button:hover::before,
button:hover::after{
    width: 100%;
    height: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100x;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition: transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}
@media screen and (max-width:800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
    
}
@media screen and (max-width:500px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
    
}
section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;  
    background: url(https://img.freepik.com/premium-photo/there-is-pink-flower-arrangement-with-white-pink-flowers-generative-ai_902049-41593.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1697328000&semt=ais) no-repeat;
    background-size: cover;
    background-position: center;
}

.home.content {
    max-width: 50rem;
}
.home.content h3{
    font-size: 6rem;
    color: #333;
}
.home.content span{
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.home.content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 1rem 0;
    background: rgb(255, 51, 153, 0.5);
}
.heading span{
    color: var(--pink);
}
@media(max-width:450px) {
    .heading{
        font-size: 3rem;
    }
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video-container{
    
    flex:  10px;
    position:static;

}
.about .row .video-container video{
    width: 85%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 100%;
    object-fit: cover;

}
.about.row .video-container h3{
    position: absolute;
    top: 50%;
    font-size: 3px ;
    color: #333;
    background: #fff;
    width: 120%;
    padding: 10px 5px;
    text-align: center;
    mix-blend-mode: screen;
}
.about .row .content{
    flex: 20px;
}
.icon-i1{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icon-i1 .icons{
    background: #fff;
    border: .1rem solid rgb(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}
.icon-i1 .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icon-i1 .icons h5{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icon-i1 .icons span{
    color: #555;
    font-size: 1.3rem;
}
