
.titulli {
    text-align: center;
    color: #333;
}

.permbjtja-dashboard {
    width: 30%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.emri {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.permbajtja {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
}

.hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #e0e0e0;
}


.flowers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: flex-start;
    margin: 37px 60px;
    padding: 0  20px;
}
.flowers .imageshop{
    width: 300px;
    margin: 0 19px;
}
.cmimi{
    font-size: 10px;
}
.underimgg{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  border-bottom: 1px solid rgb(189, 186, 186);
  font-family: Arial, Helvetica, sans-serif;
}

.underimgg a{
    margin-top: 15px;
    text-decoration: none;
    color: rgb(21, 21, 21);
}

.titulli{
    text-align: center;
}

.butonat{
    display: flex;
    justify-content: space-between;
}

.delete-button{
    text-decoration: none;
    font-size: 20px;
}

.edit-button{
    text-decoration: none;
    font-size: 20px;
    color: rgb(35, 175, 129);
    margin-left: 130px;
}

.view-button{
    text-decoration: none;
    font-size: 20px;
    color: rgb(95, 109, 31);
    
}