.login_main {
  font-family: "Arial", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.containeer {
  width: 400px;
  margin: 50px auto;
  /* padding: 60px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginFormm {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 25px;
  padding-bottom: 15px;
}

.inputt-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: #555;
  font-size: 25px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color: #d9534f;
  margin-bottom: 15px;
}

button {
  background-color: #ac893e;
  color: #fff;
  padding: 13px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #cdb05f;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

.signup-link a {
  color: #b77e33;
}

.footermain {
  background-color: rgb(54, 73, 54);
  margin-top: 60px;
}

.mrenafooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: azure;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0 80px;
}

.footerleft {
  margin-top: 25px;
}

.footercenter {
  display: flex;
  flex-direction: column;
}

.footercenter h2 {
  font-size: 40px;
  margin-right: 160px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.footercenter a {
  text-decoration: none;
  color: rgb(230, 224, 224);
  font-size: 20px;
  padding: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.footercenter-2 h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ede9e9;
  margin-right: 160px;
}

.footercenter a:hover {
  border-bottom: 2px solid grey;
}

.footercenter-2 p {
  color: rgb(230, 224, 224);
  font-size: 20px;
  padding-top: 5px;
  margin-right: 100px;
}

.footercenter-2 p:hover {
  border-bottom: 2px solid grey;
}

.footeright {
  margin-right: 80px;
}

.footeright h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(232, 228, 228);
  margin-right: 170px;
}

.footeright p {
  color: rgb(230, 224, 224);
  font-size: 20px;
  margin-right: 100px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.footeright p:hover {
  border-bottom: 2px solid grey;
}

.fundi {
  border-top: 1px solid grey;
  padding-bottom: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fundi p {
  padding: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
  .mrenafooter {
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }
}
