#slider-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: #68a16a;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.collection {
  background-color: rgb(237, 229, 219);
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  padding: 40px 0;
  text-align: center;
}

.collection-fotot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 90px 90px;
}


.imageshop-img{
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease all;
}

.imageshop {
  margin: 0 15px;
  width: auto;
  overflow: hidden;
}

.underimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid rgb(189, 186, 186);
  font-family: Arial, Helvetica, sans-serif;
}

.imageshop img:hover {
  transform: scale(1.07);
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .mbiheader {
    font-size: 20px;
    margin-right: 0;
  }

  .flowers{
    width: 100%;
  }

  .imageshop{
    margin: 0 -46px;
  }

  .collection-fotot {
    flex-direction: column;
    margin: 20px 0;
  }

  .collection {
    font-size: 25px;
  }
}

#editFlowerModal{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7); 
  width: 100%;
  height: 100vh;
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.modal-content{
  width: 50%;
}
.modal-content .close{
position: absolute;
left: 20px;
top: 20px;
cursor: pointer;
}
.edit-button{
  background-color: white;
  padding: 0;
}
.edit-button:hover{
  background-color: white;
}