.firstImage{
    max-width: 100%;
    
}

.firstImage img{
    width: 100%;
    height: 70%;
    
}

  .collection-fotot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 90px 60px;
  }
  
  .imageshop img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease all;
  }
  
  .imageshop {
    margin: 0 15px;
    width: 100%;
    overflow: hidden;
  }
  
  .underimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid rgb(189, 186, 186);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .imageshop img:hover {
    transform: scale(1.07);
    cursor: pointer;
  }

  .hrline{
    margin: 0 80px;
  }

  .OrderFlowers{
    display: flex;
    flex-direction: row;
    margin: 80px;
  }

  .imageInside{
    width: 30%;
    margin: 0 40px;
  }

  .OrderFlowers img{
    width: 100%;
  }

  .p-1{
    font-size: 22px;
    margin-top: 100px;
    margin-right: 30px;
  }

  .p-2{
    font-size: 20px;
    margin-top: 100px;
  }

.p-2 li{
    padding: 10px;
  }

  .paragrafat{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    font-size: 22px;
    margin: 80px;
    padding:  30px;
  }

  .paragrafi1{
    margin-right: 30px;

  }

  .paragrafat h2{
    font-size: 40px;
  }

  @media only screen and (max-width: 600px) {
    .mrenafooter{
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .mbiheader {
      font-size: 20px;
      margin-right: 0;
    }
  
    .collection-fotot {
      flex-direction: column;
      /* margin: 0 10px; */
      margin: 20px 30px;

    }
  
    .mrenafooter {
      flex-direction: column;
    }
  
    .collection {
      font-size: 25px;
      margin-left: -10px;
      margin-right: 17px;
    }

    .hrline{
      margin: 0 34px;
    }

    .OrderFlowers{
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .imageInside{
      width: 100%;
      margin: 0;
    }

    .p-1{
      margin: 0 30px;
    }
    
    .p-2{
      margin: 0 30px;
    }

    .paragrafat{
      flex-direction: column;
      margin: 0;
    }
  }
